/* src/components/PlaylistGenerator.css */
.spinner {
    margin: 20px auto;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: #646cff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.generator {
    margin-bottom:10vh;
}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.profile-links {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: flex-end; /* Push items to the right */
    gap: 10px; /* Add spacing between links */
    font-size: 0.8rem; /* Make the text smaller */
}

.profile-links a {
    margin: 0;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
